<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.unity3d.player"
    android:installLocation="preferExternal"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- CRITICAL: Network permissions for offline LAN multiplayer -->
    <!-- INTERNET: Required for all network operations including LAN -->
    <uses-permission android:name="android.permission.INTERNET" />
    
    <!-- ACCESS_NETWORK_STATE: Required to check if WiFi/network is available -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    
    <!-- ACCESS_WIFI_STATE: Required to detect WiFi connection and get IP address -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <!-- CHANGE_WIFI_STATE: Required for managing WiFi connections programmatically -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    
    <!-- CHANGE_NETWORK_STATE: Allows app to change network connectivity state -->
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />

    <!-- Screen support -->
    <supports-screens
        android:smallScreens="true"
        android:normalScreens="true"
        android:largeScreens="true"
        android:xlargeScreens="true"
        android:anyDensity="true" />

    <application
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:debuggable="true"
        android:allowBackup="false"
        android:usesCleartextTraffic="true">

        <!-- Main Unity Player Activity -->
        <activity
            android:name="com.unity3d.player.UnityPlayerActivity"
            android:label="@string/app_name"
            android:screenOrientation="landscape"
            android:launchMode="singleTask"
            android:configChanges="mcc|mnc|locale|touchscreen|keyboard|keyboardHidden|navigation|orientation|screenLayout|uiMode|screenSize|smallestScreenSize|fontScale|layoutDirection|density"
            android:hardwareAccelerated="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <meta-data android:name="unityplayer.UnityActivity" android:value="true" />
        </activity>
    </application>
</manifest>